$primary: #ffffff;
$secondary: #1c1c1c;
$header_color: #FFF;
$invert_header: #1c1c1c;
$lightblue : #3d6074;
@font-face {
    font-family: 'Hanken';
    src: url('fonts/Hanken-Book.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: $primary;
    font-family: 'Source Sans Pro',sans-serif;
}
.title{
    text-transform: uppercase;
}
header{
    display: flex;
    flex-direction: column;
    .hero_container{
        background-color: #1c1c1c;
        background: url("i.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        transition: background 3s linear;
    }
    #about_container{
        background: #1c1c1c url("../assets/about.jpg")  no-repeat fixed center;
        background-size: cover;
    }
    #work_with_us{
        background: #1c1c1c url("../assets/work.jpg")  no-repeat fixed center;
        background-size: cover;
    }
    nav{
        background: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0  5%;
        height: 5vh;
        .logo{
            padding: 1em;
            img{
                width: 100px;
                height: auto;
            }
        }
        .menu{
            height: 70px;
            left: 70px;
            top: 20px;
            text-align: center;
            position: absolute;
            ul li{
                display: inline;
                color: $header_color;
                margin: 0 5px;
                a{
                    padding: 2px 3px;
                    color: inherit;
                    text-decoration: none;
                    text-transform: uppercase;
                    &:hover{
                        color: #1c1c1c;
                        border-bottom: 2px solid $secondary;
                    }
                }
            }
        }
        .social{
            height: 70px;
            right: 70px;
            top: 20px;
            text-align: center;
            position: absolute;
            ul li{
                display: inline;
                color: $header_color;
                margin: 0 5px;
                a{
                    padding: 2px 3px;
                    color: inherit;
                    text-decoration: none;
                    &:hover{
                        color: $lightblue;
                    }
                }
            }
        }
        @media (max-width: 500px) {
            .menu{
                height: 70px;
                left: 0px;
                ul li{
                    margin: 0 3px;
                    a{
                        padding: 2px 3px;
                    }
                }
            }
            .social {
                display: none;
            }
        }
        
    }
    .hero{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 70%;
        margin: 0 auto;
        .overlay{
            margin: 40vh auto;
            text-align: center;
            font-family: 'Lato', sans-serif;
            color: $header_color;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            #logo {
                animation : rrotation 1s  ease-out;
                width: 200px;
                height: auto;
                &:hover{
                    animation : lrotation 3s infinite ease-in;
                }
            }
            p.ml6 {
                margin-top: 2em;
                position: relative;
                font-size: 2.3em;
                .text-wrapper {
                    position: relative;
                    display: inline-block;
                    padding-top: 0.2em;
                    padding-right: 0.05em;
                    padding-bottom: 0.1em;
                    overflow: hidden;
                    .letter {
                        display: inline-block;
                        line-height: 1em;
                    }
                }
            }
            .buttons{
                padding: 5em 0;
                a.btn {
                    padding: 15px 20px;
                    text-decoration: none;
                    font-size: 1.5em;
                    font-family: "Lato";
                    border-radius: 5px;
                    background: transparent;
                    text-transform: uppercase;
                    color: $header_color;
                    border: 3px solid $header_color;
                    transition: all .2s ease-in-out;
                    &:first-child{
                        margin-right: 30px;
                    }
                    &:hover {
                        background: $invert_header;
                        color: $header_color;
                        border: 3px solid $invert_header;
                        box-shadow: 0px 0px 10px 0px #252525;
                    }
                }
            }
            @media (max-width: 720px) {
                .buttons{
                    padding: 5em 0;
                    flex-direction: column;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    a.btn {
                        &:first-child{
                            margin-bottom: 30px;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .text_effect{
            margin-top: 40vh;
            .Iam {
                padding: 1em 5em;
                font: normal 40px/50px Lato, sans-serif;
                color: #fbd535;
                p{
                  height: 50px;
                  float: left;
                  margin-right: 0.3em;
                }
                b{
                  float: left;
                  overflow: hidden;
                  position: relative;
                  height: 50px;
                  top: 0px;
                  .innerIam{
                    display: inline-block;
                    color: #ffffff;
                    position: relative;
                    white-space: nowrap;
                    top: 0;
                    left: 0;
                    animation: move 8s;
                    animation-iteration-count: infinite;
                    animation-delay: 10s;
                    animation-direction: alternate;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-in-out;
                    @keyframes move {
                      0%  { top: 0px; }
                      20% { top: -50px; }
                      40% { top: -100px; }
                      60% { top: -150px; }
                      80% { top: -200px; }
                    }                
                  }
                }
            }
        }
    }
    @media(max-width: 640px){
        .hero{
            margin: auto;
            width: 95%;
            height: 60vh;
            .text_effect{
                margin-top: 25vh;
                .Iam{
                    padding: 0;
                    font-size: 1.5em;
                    overflow: hidden;
                }
            }
        }
    }
}
main{
    width: 100%;
    min-height: 100vh;
    .abt_container{
        min-height: 100vh;
        margin: 0 auto;
        padding: 1em;
        background: #f9f9f8 url("../assets/window.png")  no-repeat fixed center;
        background-size: cover;
    }
    .work_container{
        min-height: 100vh;
        margin: 0 auto;
        padding: 1em;
        background: #f9f9f8;
        background-size: cover;
    }
    @media (max-width: 920px) {
        .container{
            width: 95%;
        }
    }
}
.showcase{
    min-height: 80vh;
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    .info{
        width: 30%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .logo{
            padding: 0em;

        }
        ul.features{
            list-style: square;
            padding: 1em;
            li{
                line-height: 1.6em;
                font-family: "Source Sans Pro", sans-serif;
                font-size: 1.2em;
                font-weight: 400;
            }
        }
        .buttons{
            padding: 1em;
            margin: 50px 0;
            align-self: flex-start;
            a.btn{
                padding: .8em 1.3em;
                text-decoration: none;
                font-size: 1.2em;
                font-family: "Lato";
                border-radius: 25px;
                background: transparent;
                color: #1c1c1c;
                border: 3px solid #1c1c1c;
                transition: all .2s ease-in-out;                
                &:hover{
                    background: #1c1c1c;
                    color: #FFF;
                    border: 3px solid #FFF;
                    box-shadow: 0px 0px 10px 0px #252525;
                }
            }
        }
    }
    .apartments{
        width: 60%;
        margin: 10vh auto 0 auto;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;
        justify-content: center;
        .rooms{
            align-self: center;
            width: 100%;
            min-height: 60vh;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            .single{
                display: flex;
                width: 100%;
                background: #f7f7f7;
                margin: 1em;
                flex-direction: column;
                border: .1px solid #444444;
                border-radius: 10px;
                box-shadow: 0px 0px 5px 0px #444444;
                cursor: move;
                user-select: none;
                .content {
                    padding: 1em;
                    .buttons {
                        margin: 1em 0;
                        align-self: flex-start;
                        display: flex;
                        flex-wrap: wrap;
                        a.btn {
                            padding: .5em 1em;
                            text-decoration: none;
                            font-size: 1em;
                            font-family: "Lato";
                            border-radius: 25px;
                            background: transparent;
                            color: #444444;
                            border: 3px solid #444444;
                            transition: all .2s ease-in-out;
                            &:first-child {
                                margin-right: 10px;
                            }
                            &:hover {
                                background: #444444;
                                color: #FFF;
                                box-shadow: 0px 0px 10px 0px #252525;
                            }
                        }
                    }
                }
                img{
                    border-radius: 10px 10px 0 0;
                    width: 100%;
                    height: 60%;
                }
            }
        }
    }
}
@media (max-width: 920px) {
    .showcase {
        width: 90%;
        display: block;
        // flex-direction: column;
        .info{
            width: 100%;
            padding: 1em;
            height: 80vh;
        }
        .apartments{
            padding: 1em;
            margin: 2em;
            width: 100%;
            min-height: 60vh;
            margin: 0 auto;
            .rooms{
                width: 100%;
                height: auto;
            }
        }

    }
}
.testimony{
    width: 70%;
    margin: 0 auto;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: .5px solid #7a7a7a;
    .title {
        font-weight: normal;
        font-size: 1.4em;
        color: #3d3d3d;
        text-align: center;
        margin: 50px auto;
    }

    .quotes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .single{
            display: flex;
            flex-direction: column;
            padding: 1em;
            color: teal;
            blockquote{
                font-size: 1.2em;
                font-family: 'Halkenbook', sans-serif;
                font-style: oblique;
                text-align: justify;
                text-align-last: left;
                padding: 1em;
                position: relative;
                line-height: 1.5em;
                &:before{
                    content: "\201C";
                    font-size: 3em;
                    font-weight: bold;
                    color: rgb(8, 61, 52);
                    position: absolute;
                    left: -15px;
                    top:5px;
                }
            }
            span{
                padding: 1em;
                font-weight: 200;
                font-style: oblique;
                margin-left: 20px;
                text-align: left;
                position: relative;
                &:before{
                    content: "\035E";
                    font-size: 30px;
                    font-weight: bold;
                    color: rgb(16, 49, 44);
                    position: absolute;
                    left: 0px;
                    top:15px;
                }
            }
        }
    }
}
.subscription{
    width: 100%;
    background: #222222;
    min-height: 25vh;
    margin-bottom: 80px;
    align-items: center;
    display: flex;
    .container{
        width: 70%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: space-between;
        align-content: space-between;
        flex-wrap: wrap;
        .content{
            h3{
                font-size: 1.5em;
                color: #cccccc;
            }
            color: #7a7a7a;
            padding-bottom: 2em;
        }
        .fgroup{
            padding: .2em;
            background: #727272;
            border-radius: 5px;
            display: flex;
            input{
                padding: 1em 2em;
                border: 0;
                &:first-child{
                    border-radius: 5px 0 0 5px;
                    border-right: 1px solid #727272;
                }
                &:last-child{
                    border-radius: 0 5px 5px 0;
                    background: #0e293f;
                    color: #ffffff;
                    font-size: 1em;
                    cursor: pointer;
                    padding: .8em 2em;
                }
            }
        }        
    }
}
    @media (max-width: 600px) {
        .subscription{
            min-height: 40vh;
            .container{
                width: 100%;
                .content{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 30px;
                }
                form{
                    width: 90%;
                    .fgroup {
                        flex-direction: column;
                        width: 100%;
                        input{
                            padding: 1em 2em;
                            border: 0;
                            &:first-child{
                                border-radius: 5px 5px 0 0;
                                border-right: none;
                                border-bottom: 1px solid #727272;                                
                            }
                            &:last-child{
                                border-radius: 0 0 5px 5px;
                            }
                        }
                    }
                }
            }
        }
    }
.facilities {
    width: 95%;
    margin: 0 auto;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: .5px solid #757575;
    .title {
        font-weight: normal;
        font-size: 1.4em;
        color: #3d3d3d;
        text-align: center;
        margin: 50px auto;
    }
    .facility {
        display: flex;
        justify-content: space-around;
        width: 70%;
        flex-wrap: wrap;
        flex: 1 25%;
        .icon {
            text-align: center;
            width: 20%;
            img{
                width: 80px;
                height: 80px;
            }
            p {
                margin-top: auto;
                padding-top: 10px;
                color: $secondary;
                font-size: 1.2em;
            }
        }
    }
    @media (max-width: 920px) {
        .facility {
            width: 100%;
            .icon{
                width: 50%;
            }
        }
    }
}
.brand{
    width: 70%;
    margin: 0 auto;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: .5px solid #727272;
    .title {
        font-weight: normal;
        font-size: 1.4em;
        color: #3d3d3d;
        text-align: center;
        margin:50px auto;
    }
    .brands {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        img {
            max-width: 40%;
            height: 80px;
        }
        @media (max-width: 920px) {
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}
footer{
    min-height: 80vh;
    background-color: #1c1c1c;
    color: #ccc;
    .container{
        width: 70%;
        margin: auto;
        .services{
            min-height: 25vh;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-bottom: 1px solid #929292;
            flex-wrap: wrap;
            .title{
                font-family: "Lato", sans-serif;
            }
            ul{
                list-style: none;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                li{
                    // display: inline;
                    margin-right: 50px;
                    &:last-child{
                        margin-right: 0;
                    }
                    i{
                        font-size: 48px;
                    }
                    &:hover{
                        color: $lightblue;
                    }
                }
            }
            
        }
        .footer{
            min-height: 50vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #bfe8ff;
            align-items: flex-start;
            padding-top: 80px;
            font-weight: normal;
            flex-wrap: wrap;
            padding-bottom: 1em;
            .logo{
                padding: 1em;
                img{
                    width: 120px;
                    height: auto;
                }
            }
            .menu, .contact{
                ul{
                    list-style: none;
                    font-size: 1em;
                    line-height: 2em;
                    li i{
                        width: 15px;
                        height: 15px;
                        margin-right: 15px;
                        text-align: center;
                    }
                    li a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
            .subscribe{
                width: 500px;
                .header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2em;
                    h3{
                        font-size: 1em;
                        line-height: 1.5em;
                    }
                    ul li{
                        display: inline;
                        justify-content: space-around;
                        margin-right: 20px;
                        a{
                            text-decoration: none;
                            color: inherit;
                            &:hover{
                                color: $lightblue;
                            }
                        }
                    }
                }
                form{
                    display: flex;
                    justify-content: space-around;
                    input{
                        font-size: 16px;
                        font-weight: normal;
                        padding: 12px 20px;
                        border: .5px solid #ccc;
                        background: transparent;
                        color: #ccc;
                        &[type="text"]{
                            width: 70%;
                            font-style: oblique;
                        }
                        &[type="button"]{
                            width: 30%;
                        }
                    }
                    
                }

            }
            
        }
        .copyright{
            min-height: 5vh;
            text-align: center;
            font-size: 14px;
            p{
                padding-top: 15px;
            }
        }
    }
    @media (max-width: 920px) {
        .container {
            width: 95%;
            margin: auto;
            .services{
                min-height: 70vh;
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-bottom: 1px solid #bfe8ff;
                flex-wrap: wrap;
                flex-direction: column;
                padding: 1em 0;
                ul{
                    list-style: none;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    li{
                        // display: inline;
                        margin-right: 0;
                        margin-bottom: 10px;
                        &:last-child{
                            margin-right: 0;
                            margin-bottom: 0;
                        }
                        i{
                            font-size: 48px;
                        }
                    }
                }
            }
            .footer{
                display: block;
                width: 80%;
                margin: 0 auto;
                .subscribe{
                    margin: 30px auto;
                    width: 100%;
                }
                .logo{
                    img{
                        width: 150px;
                        margin: 0 auto;
                    }
                    margin: 0 auto 50px auto;
                }
                .menu{
                    width: 100%;
                    margin-bottom: 2em;
                    ul{
                        li{
                            margin: 5px;
                            a{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
// Appartments page
.allapartments{
    width: 70%;
    margin: 100px auto;
    .apartments{
        display: flex;
        flex-wrap: wrap;
        background-color: inherit;
        justify-content: space-around;
        padding: 2%;
        margin: -6px -6px;
        .single{
            margin: 10px;
            flex: 1 25%;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 0.25rem;
            box-shadow: 10px 10px 40px -14px rgba(0,0,0,0.25);
            overflow: hidden;
            max-width: 600px;
            position: relative;
            &:hover {
                .image img {
                    filter: contrast(100%);
                }
            }
            .image{
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
                img{
                    filter: contrast(70%);
                    overflow: hidden;
                    position: relative;
                    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
                    // max-width: 100%;
                    // max-height: 400px;
                    width: 100%;
                    height: 60%;
                }
            }
            .content{
                padding: 1em;                
                margin-top: auto;
                h3{
                    font-family: 'Lato', sans-serif;
                    margin: 0; padding: 0 0 10px 0;
                    color: rgb(68, 68, 68);
                    font-size: 1.2em;
                    text-transform: capitalize;
                }
                .desc{
                    margin: 0; padding: 0 0 10px 0;  
                    font-size: 1em;
                    color: $secondary;
                }
                .price{
                    color: tomato;
                }
                .buttons{
                    display: flex;
                    align-items: center;
                    align-content: center;
                    .btn{
                        padding: .5em 1em;
                        text-decoration: none;
                        font-size: 1em;
                        font-family: "Lato";
                        border-radius: 25px;
                        background: transparent;
                        color: #444444;
                        border: 3px solid #444444;
                        transition: all .2s ease-in-out;
                        &:first-child {
                            margin-right: 10px;
                        }
                        &:hover {
                            background: #444444;
                            color: #FFF;
                            box-shadow: 0px 0px 10px 0px #252525;
                        }
                    }
                }
            }
            &:first-child,&:nth-child(2) {
                flex: 2 50%;
            }
        }
        @media (max-width: 920px) {
            .single {
                flex: 1 45%;
            }
        }
        @media (max-width: 600px) {
            .single {
                flex: 1 80%;
            }
        }
    }
    @media (max-width: 600px) {
        .apartments {
            flex-direction: column;
        }
    }
}
.about{
    font-family: "Lato", sans-serif;
    text-align: center;
    margin: 10vh auto;
    h2{
        font-size: 22px;
        margin-bottom: 100px;
    }
    p{
        margin: 20px auto;
        width: 700px;
        color: #747474;
        font-size: 16px;
        padding-bottom: 10px;
    }
}
@media (max-width: 920px) {
    .about {
        width: 95%;
        p{
            width: 90%;
            margin: 0 auto;
        }
    }
}
.work{
    font-family: "Lato", sans-serif;
    text-align: center;
    margin: 10vh auto;
    h2{
        text-transform: uppercase;
        font-size: 1.4em;;
        margin: 100px;
    }
    .features{
        // display: flex;
        width: 70%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // padding: 2%;
        // margin: -6px -6px;
        .card{
            margin: 10px;
            flex: 1 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            width: 350px;
            padding: 30px;
            background: #1abc9c;
            position: relative;
            transition: .3s ease;
            box-shadow: 0 1px 1px rgba(0,0,0,.3);
            
            &:hover {
              box-shadow: 0 5px 20px rgba(0,0,0,.8);
              transform: translateY(-10px) scale(1.02);
                .entry-title{
                      background-position: -100% 0;
                  }
                span{
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    background: #1abc9c;
                    margin: auto;
                    transition: .5s ease-in-out;
                    font-family: Lato, sans-serif;
                    text-transform: uppercase;
                    padding: 1em;

                }
                
            }
            .entry-title{
              background: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(22, 160, 133,1.0) 50%);
              background-size: 200%;
              background-position: 0 0;
              display: inline;
              transition: .5s ease-in-out;
              font-family: Lato, sans-serif;
              text-transform: uppercase;
              color: white;
              
              a{
                color: white;
                text-decoration: none;
              }
            }
            
            span{
              display: none;
              margin-top: 0px;
              font-family: Lato, sans-serif;
              font-weight: 700;
              color: #ebe71b;
              font-size: 1.4em;
              transition: .3s ease;              
                a{color: white}
            }
          }
    }
    .forms{
        width: 70%;
        margin: auto;          
          .header {
            position: relative;
            margin: 100px 0 25px 0;
            font-size: 2.3em;
            text-align: center;
            letter-spacing: 7px;
          }
          
          #form {
            position: relative;
            width: 470px;
            margin: 50px auto 100px auto;
            input {
              font-family: 'Lato', sans-serif;
              font-size: 0.875em;
              width: 470px;
              height: 50px;
              padding: 0px 15px 0px 15px;
              
              background: transparent;
              outline: none;
              color: #726659;
              
              border: solid 1px #b3aca7;
              border-bottom: none;
              
              transition: all 0.3s ease-in-out;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
            }
            
            input:hover {
              background: #1abc9c;
              color: #e2dedb;
            }
            
            textarea {
              width: 470px;
              height: 110px;
              max-height: 110px;
              padding: 15px;
              
              background: transparent;
              outline: none;
              
              color: #726659;
              font-family: 'Lato', sans-serif;
              font-size: 0.875em;
              
              border: solid 1px #b3aca7;
              
              transition: all 0.3s ease-in-out;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
            }
            
            textarea:hover {
              background: #3abda3;
              color: #e2dedb;
            }
            
            #submit {
              width: 470px;
              padding: 0;
              margin: -5px 0px 0px 0px;
              
              font-family: 'Lato', sans-serif;
              font-size: 0.875em;
              color: #b3aca7;
              
              outline:none;
              cursor: pointer;
              
              border: solid 1px #b3aca7;
              border-top: none;
            }
            
            #submit:hover {
              color: #e2dedb;
            }

            input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
            color: #aca49c;
            font-size: 0.875em;
            }
            
            input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
            color: #bbb5af;
            }
            
            input::-moz-placeholder, textarea::-moz-placeholder {
            color: #aca49c;
            font-size: 0.875em;
            }
            
            input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
            color: #bbb5af;
            }
            
            input::placeholder, textarea::placeholder {
            color: #aca49c;
            font-size: 0.875em;
            }
            
            input:focus::placeholder, textarea::focus:placeholder {
            color: #bbb5af;
            }
            
            input::-ms-placeholder, textarea::-ms-placeholder {
            color: #aca49c;
            font-size: 0.875em;
            }
            
            input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
            color: #bbb5af;
            }
            
            
            input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
            color: #e2dedb;
            font-size: 0.875em;
            }
            
            input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
            color: #cbc6c1;
            }
            
            input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
            color: #e2dedb;
            font-size: 0.875em;
            }
            
            input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
            color: #cbc6c1;
            }
            
            input:hover::placeholder, textarea:hover::placeholder {
            color: #e2dedb;
            font-size: 0.875em;
            }
            
            input:hover:focus::placeholder, textarea:hover:focus::placeholder {
            color: #cbc6c1;
            }
            
            input:hover::placeholder, textarea:hover::placeholder {
            color: #e2dedb;
            font-size: 0.875em;
            }
            
            input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
            color: #cbc6c1;
            }
          }
          
    }
}
@media (max-width: 920px) {
    .work {
        width: 95%;
        p{
            width: 90%;
            margin: 0 auto;
        }
        .features{
            margin: 0 auto;
            width: 95%;
        }
        .forms{
            margin: 0 auto;
            width: 95%;
            #form{
                width: 100%;
                input{
                    width: 100%;
                }
                textarea{
                    width: 100%;
                }
                #submit{
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 920px) {
    .allapartments {
        width: 95%;
    }
}

@keyframes lrotation{
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 25% { 
    transform: perspective(120px) rotateX(0deg) rotateY(-90deg);
  } 50% { 
    transform: perspective(120px) rotateX(0deg) rotateY(-180deg);
  } 75% { 
    transform: perspective(120px) rotateX(0deg) rotateY(-270deg);
  } 100% { 
    transform: perspective(120px) rotateX(0deg) rotateY(-360deg);
  }
}
@keyframes rrotation{
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(-360deg);
  }100% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
}
@import 'import/slick.scss';
@import 'import/theme.scss';