// $primary: #bfe8ff;
$primary: #ffffff;
$secondary: #1c1c1c;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: $primary;
    font-family: 'Source Sans Pro',sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    nav{
        background: #FFF;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0  2%;
        height: 5vh;
        .logo img{
            width: 120px;
            height: auto;
        }
        ul li{
            display: inline;
            color: $secondary;
            margin: 0 5px;
        }
    }
    .container{
        background: url("bg.jpg") no-repeat center;
        background-size: 100% 100%;
        .hero{
            display: flex;
            flex-direction: column;
            height: 95vh;
            width: 70%;
            margin: 0 auto;
            div{
                margin: auto;
                text-align: center;
                font-family: 'HankenBook', sans-serif;
                color: #FFF;
                h1{
                    margin: 40px auto;
                    font-size: 46px;
                    font-weight: 700;
                }
                p{
                    font-size: 28px;
                    margin: 50px auto;
                }
            }
        }
    }
}
main{

}
section{
    height: 100vh;
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    .info{
        width: 30%;
    }
    .product{
        width: 70%;
        margin: 0 auto;
        img{
            width: 100%;
            height: auto;
        }
    }
}
.brand{
    width: 70%;
    margin: 0 auto;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: .5px solid #1c1c1c;
    .title {
        font-weight: normal;
        font-size: 1.4em;
        color: #3d3d3d;
        text-align: center;
        margin: 10px auto 50px auto;
    }

    .brands {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        img {
            width: auto;
            height: 80px;
        }
    }
}
.facilities{
    width: 70%;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: .5px solid #1c1c1c;
    .title {
        font-weight: normal;
        font-size: 1.4em;
        color: #3d3d3d;
        text-align: center;
        margin: 10px auto 50px auto;
    }

    .facility {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        width: 100%;
        flex-wrap: wrap;
        .icon{
            width: 20%;
            text-align: center;
            img {
                width: auto;
                height: 80px;
            }
        }
    }
}

footer{
    height: 80vh;
    background-color: #1c1c1c;
    color: #ccc;
    .container{
        width: 70%;
        margin: auto;
        .services{
            height: 25vh;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-bottom: 1px solid #bfe8ff;
            ul{
                list-style: none;
                display: flex;
                text-align: center;
                li{
                    // display: inline;
                    margin-right: 50px;
                    &:last-child{
                        margin-right: 0;
                    }
                    i{
                        font-size: 48px;
                    }
                }
            }
            
        }
        .footer{
            height: 50vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #bfe8ff;
            align-items: flex-start;
            padding-top: 80px;
            font-weight: normal;
            .menu, .contact{
                ul{
                    list-style: none;
                    font-size: 1em;
                    line-height: 2em;
                    li i{
                        padding-right: 15px;
                    }
                }
            }
            .subscribe{
                width: 500px;
                .header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2em;
                    h3{
                        // font-family: 'Hankenlight', sans-serif;
                        font-size: 1em;
                        line-height: 1.5em;
                    }
                    ul li{
                        display: inline;
                        justify-content: space-around;
                        margin-right: 20px;
                    }
                }
                form{
                    display: flex;
                    justify-content: space-around;
                    input{
                        font-size: 16px;
                        font-weight: normal;
                        padding: 12px 20px;
                        border: .5px solid #ccc;
                        background: transparent;
                        color: #ccc;
                        &[type="text"]{
                            width: 70%;
                            font-style: oblique;
                        }
                        &[type="button"]{
                            width: 30%;
                        }
                    }
                    
                }

            }
            
        }
        .copyright{
            height: 5vh;
            text-align: center;
            font-size: 14px;
            p{
                padding-top: 15px;
            }
        }
    }
}