// $primary: #bfe8ff;
$primary: #ffffff;
$secondary: #1c1c1c;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: $primary;
    font-family: 'Source Sans Pro',sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    nav{
        background: #FFF;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0  2%;
        height: 5vh;
        .logo img{
            width: 120px;
            height: auto;
        }
        ul li{
            display: inline;
            color: $secondary;
            margin: 0 5px;
        }
    }
    .container{
        background: url("bg.jpg") no-repeat center;
        background-size: 100% 100%;
        .hero{
            display: flex;
            flex-direction: column;
            height: 95vh;
            width: 70%;
            margin: 0 auto;
            .overlay{
                margin: 30% auto;
                text-align: center;
                font-family: 'HankenBook', sans-serif;
                color: rgb(255, 255, 255);
                background: rgba(34, 34, 34, 0.473);
                border-radius: 25px;
                h1{
                    margin: 40px auto;
                    font-size: 50px;
                    font-weight: 600;
                }
                p{
                    font-size: 36px;
                    margin: 20px;
                }
                .buttons{
                    padding: 2em 1em;
                    display: flex;
                    justify-content: center;
                    a.btn {
                        padding: 1em 1.5em;
                        text-decoration: none;
                        font-size: 1.2em;
                        font-family: "HankenBook";
                        border-radius: 25px;
                        background: transparent;
                        color: #ffffff;
                        border: 3px solid #ffffff;
                        transition: all .2s ease-in-out;
                        &:first-child{
                            margin-right: 30px;
                        }
                        &:hover {
                            background: #1c1c1c;
                            color: #FFF;
                            box-shadow: 0px 0px 10px 0px #252525;
                            border: 0;
                        }
                    }
                }
            }
        }
    }
}
main{
    width: 100%;
}
.showcase{
    height: 100vh;
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .info{
        max-width: 30%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .logo{
            padding: 0em;

        }
        ul.features{
            list-style: square;
            padding: 1em;
            li{
                line-height: 1.6em;
                font-family: "Source Sans Pro", sans-serif;
                font-size: 1.2em;
                font-weight: 400;
            }
        }
        .buttons{
            padding: 1em;
            margin: 50px 0;
            align-self: flex-start;
            a.btn{
                padding: .8em 1.3em;
                text-decoration: none;
                font-size: 1.2em;
                font-family: "HankenBook";
                border-radius: 25px;
                background: transparent;
                color: #1c1c1c;
                border: 3px solid #1c1c1c;
                transition: all .2s ease-in-out;
                &:hover{
                    background: #1c1c1c;
                    color: #FFF;
                    border: 3px solid #FFF;
                    box-shadow: 0px 0px 10px 0px #252525;

                }
            }
        }
    }
    .apartments{
        max-width: 60%;
        height: 80vh;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        .rooms{
            align-self: center;
            width: 100%;
            height: 60vh;
            // background: tan;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            .single{
                display: flex;
                // width: 50%;
                background: #d8d8d8;
                // padding: 1em;
                margin: 0 5px;
                flex-direction: column;
                border: .1px solid #444444;
                border-radius: 20px;
                box-shadow: 0px 0px 5px 0px #444444;
                .content {
                    padding: 1em;
                    .buttons {
                        margin: 1em 0;
                        align-self: flex-start;
                        display: flex;
                        flex-wrap: wrap;
                        a.btn {
                            padding: .5em 1em;
                            text-decoration: none;
                            font-size: 1em;
                            font-family: "HankenBook";
                            border-radius: 25px;
                            background: transparent;
                            color: #444444;
                            border: 3px solid #444444;
                            transition: all .2s ease-in-out;
                            &:hover {
                                background: #444444;
                                color: #FFF;
                                // border: 3px solid #FFF;
                                box-shadow: 0px 0px 10px 0px #252525;
                            }
                        }
                    }
                }
                img{
                    border-radius: 20px 20px 0 0;
                    width: 100%;
                    height: 60%;
                }
            }
        }
        .pagination {
            margin-top: 80px;
            display: flex;
            justify-content: space-around;
            width: 30%;
            i {
                background: #ccc;
                color: #ccc;
                border-radius: 50%;
                width: 18px;
                cursor: pointer;
                &:nth-child(2) {
                    color: #1c1c1c;
                    background: #1c1c1c;
                }
            }
        }
    }
}
.testimony{
    width: 70%;
    margin: 0 auto;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: .5px solid #7a7a7a;
    .title {
        font-weight: normal;
        font-size: 1.4em;
        color: #3d3d3d;
        text-align: center;
        margin: 10px auto 50px auto;
    }

    .quotes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        div {
            display: flex;
            flex-direction: column;
            padding: 1em;
            color: teal;
            blockquote{
                font-size: 1.2em;
                font-family: 'Halkenbook', sans-serif;
                font-style: oblique;
                text-align: justify;
                text-align-last: left;
                padding: 1em;
                position: relative;
                line-height: 1.5em;
                &:before{
                    content: "\201C";
                    font-size: 3em;
                    font-weight: bold;
                    color: rgb(8, 61, 52);
                    position: absolute;
                    left: -15px;
                    top:5px;
                }
            }
            span{
                padding: 1em;
                font-weight: 200;
                font-style: oblique;
                margin-left: 20px;
                text-align: left;
                position: relative;
                &:before{
                    content: "\035E";
                    font-size: 30px;
                    font-weight: bold;
                    color: rgb(8, 61, 52);
                    position: absolute;
                    left: 0px;
                    top:15px;
                }
            }
        }
    }
    .pagination{
        margin-top: 80px;
        display: flex;
        justify-content: space-around;
        width: 30%;
        i{
            background: #ccc;
            color: #ccc;
            border-radius: 50%;
            width: 18px;
            cursor: pointer;
            &:nth-child(2){
                color: #1c1c1c;
                background: #1c1c1c;
            }   
        }
    }
}
.subscription{
    width: 100%;
    background: #222222;
    height: 18vh;
    margin-bottom: 80px;
    .container{
        width: 70%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div{
            h3{
                font-size: 1.5em;
            }
            color: #7a7a7a;
        }
        .fgroup{
            padding: .2em;
            background: #727272;
            border-radius: 5px;
            input{
                padding: 1em 2em;
                border: 0;
                &:first-child{
                    border-radius: 5px 0 0 5px; 
                }
                &:last-child{
                    border-radius: 0 5px 5px 0;
                    background: #0e293f;
                    color: #ffffff;
                    font-size: 1em;
                    cursor: pointer;
                    padding: .8em 2em;
                }
            }
        }

    }
}
.brand{
    width: 70%;
    margin: 0 auto;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: .5px solid #727272;
    .title {
        font-weight: normal;
        font-size: 1.4em;
        color: #3d3d3d;
        text-align: center;
        margin: 10px auto 50px auto;
    }

    .brands {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        img {
            width: auto;
            max-width: 30%;
            height: 80px;
        }
    }
}
.facilities{
    width: 70%;
    margin: 0 auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    border-top: .5px solid #757575;
    .title {
        font-weight: normal;
        font-size: 1.4em;
        color: #3d3d3d;
        text-align: center;
        margin: 10px auto 50px auto;
    }

    .facility {
        display: flex;
        justify-content: space-around;
        align-content: space-between;
        align-items: flex-end;
        width: 100%;
        flex-wrap: wrap;
        .icon{
            width: 20%;
            text-align: center;
            margin-bottom: 40px;
            p{
                padding-top: 10px;
                color: tomato;
                font-size: 1.2em;
            }
            img {
                width: auto;
                height: 100px;
            }
        }
    }
}

footer{
    height: 80vh;
    background-color: #1c1c1c;
    color: #ccc;
    .container{
        width: 70%;
        margin: auto;
        .services{
            height: 25vh;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-bottom: 1px solid #bfe8ff;
            flex-wrap: wrap;
            ul{
                list-style: none;
                display: flex;
                text-align: center;
                li{
                    // display: inline;
                    margin-right: 50px;
                    &:last-child{
                        margin-right: 0;
                    }
                    i{
                        font-size: 48px;
                    }
                }
            }
            
        }
        .footer{
            height: 50vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #bfe8ff;
            align-items: flex-start;
            padding-top: 80px;
            font-weight: normal;
            flex-wrap: wrap;
            .menu, .contact{
                ul{
                    list-style: none;
                    font-size: 1em;
                    line-height: 2em;
                    li i{
                        padding-right: 15px;
                    }
                }
            }
            .subscribe{
                width: 500px;
                .header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2em;
                    h3{
                        // font-family: 'Hankenlight', sans-serif;
                        font-size: 1em;
                        line-height: 1.5em;
                    }
                    ul li{
                        display: inline;
                        justify-content: space-around;
                        margin-right: 20px;
                    }
                }
                form{
                    display: flex;
                    justify-content: space-around;
                    input{
                        font-size: 16px;
                        font-weight: normal;
                        padding: 12px 20px;
                        border: .5px solid #ccc;
                        background: transparent;
                        color: #ccc;
                        &[type="text"]{
                            width: 70%;
                            font-style: oblique;
                        }
                        &[type="button"]{
                            width: 30%;
                        }
                    }
                    
                }

            }
            
        }
        .copyright{
            height: 5vh;
            text-align: center;
            font-size: 14px;
            p{
                padding-top: 15px;
            }
        }
    }
}