@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  font-family: 'Hanken';
  src: url("fonts/Hanken-Book.ttf") format("truetype"); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff;
  font-family: 'Source Sans Pro',sans-serif; }

.title {
  text-transform: uppercase; }

header {
  display: flex;
  flex-direction: column; }
  header .hero_container {
    background-color: #1c1c1c;
    background: url("i.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    transition: background 3s linear; }
  header #about_container {
    background: #1c1c1c url("../assets/about.jpg") no-repeat fixed center;
    background-size: cover; }
  header #work_with_us {
    background: #1c1c1c url("../assets/work.jpg") no-repeat fixed center;
    background-size: cover; }
  header nav {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0  5%;
    height: 5vh; }
    header nav .logo {
      padding: 1em; }
      header nav .logo img {
        width: 100px;
        height: auto; }
    header nav .menu {
      height: 70px;
      left: 70px;
      top: 20px;
      text-align: center;
      position: absolute; }
      header nav .menu ul li {
        display: inline;
        color: #FFF;
        margin: 0 5px; }
        header nav .menu ul li a {
          padding: 2px 3px;
          color: inherit;
          text-decoration: none;
          text-transform: uppercase; }
          header nav .menu ul li a:hover {
            color: #1c1c1c;
            border-bottom: 2px solid #1c1c1c; }
    header nav .social {
      height: 70px;
      right: 70px;
      top: 20px;
      text-align: center;
      position: absolute; }
      header nav .social ul li {
        display: inline;
        color: #FFF;
        margin: 0 5px; }
        header nav .social ul li a {
          padding: 2px 3px;
          color: inherit;
          text-decoration: none; }
          header nav .social ul li a:hover {
            color: #3d6074; }
    @media (max-width: 500px) {
      header nav .menu {
        height: 70px;
        left: 0px; }
        header nav .menu ul li {
          margin: 0 3px; }
          header nav .menu ul li a {
            padding: 2px 3px; }
      header nav .social {
        display: none; } }
  header .hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    margin: 0 auto; }
    header .hero .overlay {
      margin: 40vh auto;
      text-align: center;
      font-family: 'Lato', sans-serif;
      color: #FFF;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      header .hero .overlay #logo {
        animation: rrotation 1s  ease-out;
        width: 200px;
        height: auto; }
        header .hero .overlay #logo:hover {
          animation: lrotation 3s infinite ease-in; }
      header .hero .overlay p.ml6 {
        margin-top: 2em;
        position: relative;
        font-size: 2.3em; }
        header .hero .overlay p.ml6 .text-wrapper {
          position: relative;
          display: inline-block;
          padding-top: 0.2em;
          padding-right: 0.05em;
          padding-bottom: 0.1em;
          overflow: hidden; }
          header .hero .overlay p.ml6 .text-wrapper .letter {
            display: inline-block;
            line-height: 1em; }
      header .hero .overlay .buttons {
        padding: 5em 0; }
        header .hero .overlay .buttons a.btn {
          padding: 15px 20px;
          text-decoration: none;
          font-size: 1.5em;
          font-family: "Lato";
          border-radius: 5px;
          background: transparent;
          text-transform: uppercase;
          color: #FFF;
          border: 3px solid #FFF;
          transition: all .2s ease-in-out; }
          header .hero .overlay .buttons a.btn:first-child {
            margin-right: 30px; }
          header .hero .overlay .buttons a.btn:hover {
            background: #1c1c1c;
            color: #FFF;
            border: 3px solid #1c1c1c;
            box-shadow: 0px 0px 10px 0px #252525; }
      @media (max-width: 720px) {
        header .hero .overlay .buttons {
          padding: 5em 0;
          flex-direction: column;
          display: flex;
          align-items: center;
          align-content: center; }
          header .hero .overlay .buttons a.btn:first-child {
            margin-bottom: 30px;
            margin-right: 0; } }

main {
  width: 100%;
  min-height: 100vh; }
  main .container {
    min-height: 100vh;
    margin: 0 auto;
    padding: 1em;
    background: #c7c7c7 url("../assets/window.png") no-repeat fixed center;
    background-size: cover; }
  @media (max-width: 920px) {
    main .container {
      width: 95%; } }

.showcase {
  min-height: 80vh;
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; }
  .showcase .info {
    width: 30%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .showcase .info .logo {
      padding: 0em; }
    .showcase .info ul.features {
      list-style: square;
      padding: 1em; }
      .showcase .info ul.features li {
        line-height: 1.6em;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.2em;
        font-weight: 400; }
    .showcase .info .buttons {
      padding: 1em;
      margin: 50px 0;
      align-self: flex-start; }
      .showcase .info .buttons a.btn {
        padding: .8em 1.3em;
        text-decoration: none;
        font-size: 1.2em;
        font-family: "Lato";
        border-radius: 25px;
        background: transparent;
        color: #1c1c1c;
        border: 3px solid #1c1c1c;
        transition: all .2s ease-in-out; }
        .showcase .info .buttons a.btn:hover {
          background: #1c1c1c;
          color: #FFF;
          border: 3px solid #FFF;
          box-shadow: 0px 0px 10px 0px #252525; }
  .showcase .apartments {
    width: 60%;
    margin: 10vh auto 0 auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: center; }
    .showcase .apartments .rooms {
      align-self: center;
      width: 100%;
      min-height: 60vh;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around; }
      .showcase .apartments .rooms .single {
        display: flex;
        width: 100%;
        background: #f7f7f7;
        margin: 1em;
        flex-direction: column;
        border: .1px solid #444444;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px #444444;
        cursor: move;
        user-select: none; }
        .showcase .apartments .rooms .single .content {
          padding: 1em; }
          .showcase .apartments .rooms .single .content .buttons {
            margin: 1em 0;
            align-self: flex-start;
            display: flex;
            flex-wrap: wrap; }
            .showcase .apartments .rooms .single .content .buttons a.btn {
              padding: .5em 1em;
              text-decoration: none;
              font-size: 1em;
              font-family: "Lato";
              border-radius: 25px;
              background: transparent;
              color: #444444;
              border: 3px solid #444444;
              transition: all .2s ease-in-out; }
              .showcase .apartments .rooms .single .content .buttons a.btn:first-child {
                margin-right: 10px; }
              .showcase .apartments .rooms .single .content .buttons a.btn:hover {
                background: #444444;
                color: #FFF;
                box-shadow: 0px 0px 10px 0px #252525; }
        .showcase .apartments .rooms .single img {
          border-radius: 10px 10px 0 0;
          width: 100%;
          height: 60%; }

@media (max-width: 920px) {
  .showcase {
    width: 90%;
    display: block; }
    .showcase .info {
      width: 100%;
      padding: 1em;
      height: 80vh; }
    .showcase .apartments {
      padding: 1em;
      margin: 2em;
      width: 100%;
      min-height: 60vh;
      margin: 0 auto; }
      .showcase .apartments .rooms {
        width: 100%;
        height: auto; } }

.testimony {
  width: 70%;
  margin: 0 auto;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: .5px solid #7a7a7a; }
  .testimony .title {
    font-weight: normal;
    font-size: 1.4em;
    color: #3d3d3d;
    text-align: center;
    margin: 50px auto; }
  .testimony .quotes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .testimony .quotes .single {
      display: flex;
      flex-direction: column;
      padding: 1em;
      color: teal; }
      .testimony .quotes .single blockquote {
        font-size: 1.2em;
        font-family: 'Halkenbook', sans-serif;
        font-style: oblique;
        text-align: justify;
        text-align-last: left;
        padding: 1em;
        position: relative;
        line-height: 1.5em; }
        .testimony .quotes .single blockquote:before {
          content: "\201C";
          font-size: 3em;
          font-weight: bold;
          color: #083d34;
          position: absolute;
          left: -15px;
          top: 5px; }
      .testimony .quotes .single span {
        padding: 1em;
        font-weight: 200;
        font-style: oblique;
        margin-left: 20px;
        text-align: left;
        position: relative; }
        .testimony .quotes .single span:before {
          content: "\035E";
          font-size: 30px;
          font-weight: bold;
          color: #10312c;
          position: absolute;
          left: 0px;
          top: 15px; }

.subscription {
  width: 100%;
  background: #222222;
  min-height: 25vh;
  margin-bottom: 80px;
  align-items: center;
  display: flex; }
  .subscription .container {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: space-between;
    align-content: space-between;
    flex-wrap: wrap; }
    .subscription .container .content {
      color: #7a7a7a;
      padding-bottom: 2em; }
      .subscription .container .content h3 {
        font-size: 1.5em;
        color: #cccccc; }
    .subscription .container .fgroup {
      padding: .2em;
      background: #727272;
      border-radius: 5px;
      display: flex; }
      .subscription .container .fgroup input {
        padding: 1em 2em;
        border: 0; }
        .subscription .container .fgroup input:first-child {
          border-radius: 5px 0 0 5px;
          border-right: 1px solid #727272; }
        .subscription .container .fgroup input:last-child {
          border-radius: 0 5px 5px 0;
          background: #0e293f;
          color: #ffffff;
          font-size: 1em;
          cursor: pointer;
          padding: .8em 2em; }

@media (max-width: 600px) {
  .subscription {
    min-height: 40vh; }
    .subscription .container {
      width: 100%; }
      .subscription .container .content {
        width: 100%;
        text-align: center;
        margin-bottom: 30px; }
      .subscription .container form {
        width: 90%; }
        .subscription .container form .fgroup {
          flex-direction: column;
          width: 100%; }
          .subscription .container form .fgroup input {
            padding: 1em 2em;
            border: 0; }
            .subscription .container form .fgroup input:first-child {
              border-radius: 5px 5px 0 0;
              border-right: none;
              border-bottom: 1px solid #727272; }
            .subscription .container form .fgroup input:last-child {
              border-radius: 0 0 5px 5px; } }

.facilities {
  width: 95%;
  margin: 0 auto;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: .5px solid #757575; }
  .facilities .title {
    font-weight: normal;
    font-size: 1.4em;
    color: #3d3d3d;
    text-align: center;
    margin: 50px auto; }
  .facilities .facility {
    display: flex;
    justify-content: space-around;
    width: 70%;
    flex-wrap: wrap;
    flex: 1 25%; }
    .facilities .facility .icon {
      text-align: center;
      width: 20%; }
      .facilities .facility .icon img {
        width: 80px;
        height: 80px; }
      .facilities .facility .icon p {
        margin-top: auto;
        padding-top: 10px;
        color: #1c1c1c;
        font-size: 1.2em; }
  @media (max-width: 920px) {
    .facilities .facility {
      width: 100%; }
      .facilities .facility .icon {
        width: 50%; } }

.brand {
  width: 70%;
  margin: 0 auto;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: .5px solid #727272; }
  .brand .title {
    font-weight: normal;
    font-size: 1.4em;
    color: #3d3d3d;
    text-align: center;
    margin: 50px auto; }
  .brand .brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; }
    .brand .brands img {
      max-width: 40%;
      height: 80px; }
    @media (max-width: 920px) {
      .brand .brands img {
        max-width: 100%;
        height: auto; } }

footer {
  min-height: 80vh;
  background-color: #1c1c1c;
  color: #ccc; }
  footer .container {
    width: 70%;
    margin: auto; }
    footer .container .services {
      min-height: 25vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-bottom: 1px solid #929292;
      flex-wrap: wrap; }
      footer .container .services .title {
        font-family: "Lato", sans-serif; }
      footer .container .services ul {
        list-style: none;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center; }
        footer .container .services ul li {
          margin-right: 50px; }
          footer .container .services ul li:last-child {
            margin-right: 0; }
          footer .container .services ul li i {
            font-size: 48px; }
          footer .container .services ul li:hover {
            color: #3d6074; }
    footer .container .footer {
      min-height: 50vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #bfe8ff;
      align-items: flex-start;
      padding-top: 80px;
      font-weight: normal;
      flex-wrap: wrap;
      padding-bottom: 1em; }
      footer .container .footer .logo {
        padding: 1em; }
        footer .container .footer .logo img {
          width: 120px;
          height: auto; }
      footer .container .footer .menu ul, footer .container .footer .contact ul {
        list-style: none;
        font-size: 1em;
        line-height: 2em; }
        footer .container .footer .menu ul li i, footer .container .footer .contact ul li i {
          width: 15px;
          height: 15px;
          margin-right: 15px;
          text-align: center; }
        footer .container .footer .menu ul li a, footer .container .footer .contact ul li a {
          text-decoration: none;
          color: inherit; }
      footer .container .footer .subscribe {
        width: 500px; }
        footer .container .footer .subscribe .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 2em; }
          footer .container .footer .subscribe .header h3 {
            font-size: 1em;
            line-height: 1.5em; }
          footer .container .footer .subscribe .header ul li {
            display: inline;
            justify-content: space-around;
            margin-right: 20px; }
            footer .container .footer .subscribe .header ul li a {
              text-decoration: none;
              color: inherit; }
              footer .container .footer .subscribe .header ul li a:hover {
                color: #3d6074; }
        footer .container .footer .subscribe form {
          display: flex;
          justify-content: space-around; }
          footer .container .footer .subscribe form input {
            font-size: 16px;
            font-weight: normal;
            padding: 12px 20px;
            border: .5px solid #ccc;
            background: transparent;
            color: #ccc; }
            footer .container .footer .subscribe form input[type="text"] {
              width: 70%;
              font-style: oblique; }
            footer .container .footer .subscribe form input[type="button"] {
              width: 30%; }
    footer .container .copyright {
      min-height: 5vh;
      text-align: center;
      font-size: 14px; }
      footer .container .copyright p {
        padding-top: 15px; }
  @media (max-width: 920px) {
    footer .container {
      width: 95%;
      margin: auto; }
      footer .container .services {
        min-height: 70vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid #bfe8ff;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 1em 0; }
        footer .container .services ul {
          list-style: none;
          display: flex;
          text-align: center;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          footer .container .services ul li {
            margin-right: 0;
            margin-bottom: 10px; }
            footer .container .services ul li:last-child {
              margin-right: 0;
              margin-bottom: 0; }
            footer .container .services ul li i {
              font-size: 48px; }
      footer .container .footer {
        display: block;
        width: 80%;
        margin: 0 auto; }
        footer .container .footer .subscribe {
          margin: 30px auto;
          width: 100%; }
        footer .container .footer .logo {
          margin: 0 auto 50px auto; }
          footer .container .footer .logo img {
            width: 150px;
            margin: 0 auto; }
        footer .container .footer .menu {
          width: 100%;
          margin-bottom: 2em; }
          footer .container .footer .menu ul li {
            margin: 5px; }
            footer .container .footer .menu ul li a {
              width: 100%; } }

.allapartments {
  width: 70%;
  margin: 100px auto; }
  .allapartments .apartments {
    display: flex;
    flex-wrap: wrap;
    background-color: inherit;
    justify-content: space-around;
    padding: 2%;
    margin: -6px -6px; }
    .allapartments .apartments .single {
      margin: 10px;
      flex: 1 25%;
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 0.25rem;
      box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.25);
      overflow: hidden; }
      .allapartments .apartments .single:hover .image img {
        filter: contrast(100%); }
      .allapartments .apartments .single .image {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem; }
        .allapartments .apartments .single .image img {
          filter: contrast(70%);
          overflow: hidden;
          position: relative;
          transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
          max-width: 100%; }
      .allapartments .apartments .single .content {
        padding: 1em;
        margin-top: auto; }
        .allapartments .apartments .single .content h3 {
          font-family: 'Lato', sans-serif;
          margin: 0;
          padding: 0 0 10px 0;
          color: #444444;
          font-size: 1.2em;
          text-transform: capitalize; }
        .allapartments .apartments .single .content .desc {
          margin: 0;
          padding: 0 0 10px 0;
          font-size: 1em;
          color: #1c1c1c; }
        .allapartments .apartments .single .content .price {
          color: tomato; }
        .allapartments .apartments .single .content .buttons {
          display: flex;
          align-items: center;
          align-content: center; }
          .allapartments .apartments .single .content .buttons .btn {
            padding: .5em 1em;
            text-decoration: none;
            font-size: 1em;
            font-family: "Lato";
            border-radius: 25px;
            background: transparent;
            color: #444444;
            border: 3px solid #444444;
            transition: all .2s ease-in-out; }
            .allapartments .apartments .single .content .buttons .btn:first-child {
              margin-right: 10px; }
            .allapartments .apartments .single .content .buttons .btn:hover {
              background: #444444;
              color: #FFF;
              box-shadow: 0px 0px 10px 0px #252525; }
      .allapartments .apartments .single:first-child, .allapartments .apartments .single:nth-child(2) {
        flex: 2 calc(50%-12px); }
    @media (max-width: 920px) {
      .allapartments .apartments .single {
        flex: 1 45%; } }
    @media (max-width: 600px) {
      .allapartments .apartments .single {
        flex: 1 80%; } }
  @media (max-width: 600px) {
    .allapartments .apartments {
      flex-direction: column; } }

.about {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 10vh auto; }
  .about h2 {
    font-size: 22px;
    margin-bottom: 100px; }
  .about p {
    margin: 20px auto;
    width: 700px;
    color: #747474;
    font-size: 16px;
    padding-bottom: 10px; }

@media (max-width: 920px) {
  .about {
    width: 95%; }
    .about p {
      width: 90%;
      margin: 0 auto; } }

@media (max-width: 920px) {
  .allapartments {
    width: 95%; } }

@keyframes lrotation {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  25% {
    transform: perspective(120px) rotateX(0deg) rotateY(-90deg); }
  50% {
    transform: perspective(120px) rotateX(0deg) rotateY(-180deg); }
  75% {
    transform: perspective(120px) rotateX(0deg) rotateY(-270deg); }
  100% {
    transform: perspective(120px) rotateX(0deg) rotateY(-360deg); } }

@keyframes rrotation {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(-360deg); }
  100% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: #000;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: black;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }
