* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff;
  font-family: 'Source Sans Pro',sans-serif; }

header {
  display: flex;
  flex-direction: column; }
  header nav {
    background: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0  2%;
    height: 5vh; }
    header nav .logo img {
      width: 120px;
      height: auto; }
    header nav ul li {
      display: inline;
      color: #1c1c1c;
      margin: 0 5px; }
  header .container {
    background: url("bg.jpg") no-repeat center;
    background-size: 100% 100%; }
    header .container .hero {
      display: flex;
      flex-direction: column;
      height: 95vh;
      width: 70%;
      margin: 0 auto; }
      header .container .hero div {
        margin: auto;
        text-align: center;
        font-family: 'HankenBook', sans-serif;
        color: #FFF; }
        header .container .hero div h1 {
          margin: 40px auto;
          font-size: 46px;
          font-weight: 700; }
        header .container .hero div p {
          font-size: 28px;
          margin: 50px auto; }

main {
  width: 100%; }

.showcase {
  height: 100vh;
  width: 70%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-content: space-around;
  align-items: center; }
  .showcase .info {
    width: 30%;
    height: 80vh;
    display: flex;
    flex-direction: column; }
    .showcase .info .logo {
      padding: 1em 0em; }
    .showcase .info ul.features {
      list-style: square;
      padding: 1em; }
      .showcase .info ul.features li {
        line-height: 1.6em;
        font-family: "HankenLight", sans-serif;
        font-size: 1.2em;
        font-weight: 500; }
    .showcase .info .buttons {
      padding: 1em;
      margin: 50px auto;
      align-self: flex-end; }
      .showcase .info .buttons a.btn {
        padding: .8em 1.3em;
        text-decoration: none;
        font-size: 1.2em;
        font-family: "HankenBook";
        border-radius: 25px;
        background: transparent;
        color: #1c1c1c;
        border: 3px solid #1c1c1c;
        transition: all .2s ease-in-out; }
        .showcase .info .buttons a.btn:hover {
          background: #1c1c1c;
          color: #FFF;
          border: 3px solid #FFF;
          box-shadow: 0px 0px 10px 0px #252525; }
  .showcase .apartments {
    width: 70%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    overflow: hidden; }
    .showcase .apartments .rooms {
      align-self: center;
      width: 100%;
      height: 60vh;
      background: tan;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around; }
      .showcase .apartments .rooms .single {
        display: flex;
        width: 580px;
        background: #3d3d3d;
        margin: 1em; }
        .showcase .apartments .rooms .single h1 {
          margin: auto; }
    .showcase .apartments .pagination {
      margin-top: 80px;
      display: flex;
      justify-content: space-around;
      width: 30%; }
      .showcase .apartments .pagination i {
        background: #ccc;
        color: #ccc;
        border-radius: 50%;
        width: 18px;
        cursor: pointer; }
        .showcase .apartments .pagination i:nth-child(2) {
          color: #1c1c1c;
          background: #1c1c1c; }

.testimony {
  width: 70%;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: .5px solid #7a7a7a; }
  .testimony .title {
    font-weight: normal;
    font-size: 1.4em;
    color: #3d3d3d;
    text-align: center;
    margin: 10px auto 50px auto; }
  .testimony .quotes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .testimony .quotes div {
      display: flex;
      flex-direction: column;
      padding: 1em;
      color: teal; }
      .testimony .quotes div blockquote {
        font-size: 1.2em;
        font-family: 'Halkenbook', sans-serif;
        font-style: oblique;
        text-align: justify;
        text-align-last: left;
        padding: 1em;
        position: relative;
        line-height: 1.5em; }
        .testimony .quotes div blockquote:before {
          content: "\201C";
          font-size: 3em;
          font-weight: bold;
          color: #083d34;
          position: absolute;
          left: -15px;
          top: 5px; }
      .testimony .quotes div span {
        padding: 1em;
        font-weight: 200;
        font-style: oblique;
        margin-left: 20px;
        text-align: left;
        position: relative; }
        .testimony .quotes div span:before {
          content: "\035E";
          font-size: 30px;
          font-weight: bold;
          color: #083d34;
          position: absolute;
          left: 0px;
          top: 15px; }
  .testimony .pagination {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    width: 30%; }
    .testimony .pagination i {
      background: #ccc;
      color: #ccc;
      border-radius: 50%;
      width: 18px;
      cursor: pointer; }
      .testimony .pagination i:nth-child(2) {
        color: #1c1c1c;
        background: #1c1c1c; }

.subscription {
  width: 100%;
  background: #222222;
  height: 18vh;
  margin-bottom: 80px; }
  .subscription .container {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .subscription .container div {
      color: #7a7a7a; }
      .subscription .container div h3 {
        font-size: 1.5em; }
    .subscription .container .fgroup {
      padding: .2em;
      background: #727272;
      border-radius: 5px; }
      .subscription .container .fgroup input {
        padding: 1em 2em;
        border: 0; }
        .subscription .container .fgroup input:first-child {
          border-radius: 5px 0 0 5px; }
        .subscription .container .fgroup input:last-child {
          border-radius: 0 5px 5px 0;
          background: #0e293f;
          color: #ffffff;
          font-size: 1em;
          cursor: pointer;
          padding: .8em 2em; }

.brand {
  width: 70%;
  margin: 0 auto;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: .5px solid #727272; }
  .brand .title {
    font-weight: normal;
    font-size: 1.4em;
    color: #3d3d3d;
    text-align: center;
    margin: 10px auto 50px auto; }
  .brand .brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; }
    .brand .brands img {
      width: auto;
      max-width: 30%;
      height: 80px; }

.facilities {
  width: 70%;
  margin: 0 auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  border-top: .5px solid #757575; }
  .facilities .title {
    font-weight: normal;
    font-size: 1.4em;
    color: #3d3d3d;
    text-align: center;
    margin: 10px auto 50px auto; }
  .facilities .facility {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items: flex-end;
    width: 100%;
    flex-wrap: wrap; }
    .facilities .facility .icon {
      width: 20%;
      text-align: center;
      margin-bottom: 40px; }
      .facilities .facility .icon p {
        padding-top: 10px;
        color: tomato;
        font-size: 1.2em; }
      .facilities .facility .icon img {
        width: auto;
        height: 100px; }

footer {
  height: 80vh;
  background-color: #1c1c1c;
  color: #ccc; }
  footer .container {
    width: 70%;
    margin: auto; }
    footer .container .services {
      height: 25vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-bottom: 1px solid #bfe8ff;
      flex-wrap: wrap; }
      footer .container .services ul {
        list-style: none;
        display: flex;
        text-align: center; }
        footer .container .services ul li {
          margin-right: 50px; }
          footer .container .services ul li:last-child {
            margin-right: 0; }
          footer .container .services ul li i {
            font-size: 48px; }
    footer .container .footer {
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #bfe8ff;
      align-items: flex-start;
      padding-top: 80px;
      font-weight: normal;
      flex-wrap: wrap; }
      footer .container .footer .menu ul, footer .container .footer .contact ul {
        list-style: none;
        font-size: 1em;
        line-height: 2em; }
        footer .container .footer .menu ul li i, footer .container .footer .contact ul li i {
          padding-right: 15px; }
      footer .container .footer .subscribe {
        width: 500px; }
        footer .container .footer .subscribe .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 2em; }
          footer .container .footer .subscribe .header h3 {
            font-size: 1em;
            line-height: 1.5em; }
          footer .container .footer .subscribe .header ul li {
            display: inline;
            justify-content: space-around;
            margin-right: 20px; }
        footer .container .footer .subscribe form {
          display: flex;
          justify-content: space-around; }
          footer .container .footer .subscribe form input {
            font-size: 16px;
            font-weight: normal;
            padding: 12px 20px;
            border: .5px solid #ccc;
            background: transparent;
            color: #ccc; }
            footer .container .footer .subscribe form input[type="text"] {
              width: 70%;
              font-style: oblique; }
            footer .container .footer .subscribe form input[type="button"] {
              width: 30%; }
    footer .container .copyright {
      height: 5vh;
      text-align: center;
      font-size: 14px; }
      footer .container .copyright p {
        padding-top: 15px; }
